.project-title {
  background-color: lightgray;
  padding: 8px;
  font-weight: 400;
  font-size: 110%;
  button {
    float: right;
  }
}

.project-footer {
  background-color: lightgray;
  padding: 8px;
  position: fixed;
  width: 100%;
  bottom: 0;
}
